.Div{
    height: 729px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.welc{
    font-family: 'Maze';
    font-size: 45px;
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
    letter-spacing: 5px;    
}
.maze{
    width: 450px;
    height: 450px;
    position: relative;
    top: 120px;
    left: 525px;
}
.maze:hover{
    transform: scale(1.01);
}
.star{
    position: relative;
    bottom: 430px;
}
.code{
    background-color: black;
    width: 381px;
    height: 40px;
    border-color: white;
    border-width: 1px;
    color: white;
    transition: all 0.3s ease;
    position: relative;
    bottom: 500px;
    left: 559px;
    
}
.cardsContainer {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
    position: relative;
    top: 250px; 
    z-index: 10;
}


.card {
    background-image: url('src/image/matehaUnderwear.jpeg'); /* Background image */
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 30%; 
    text-align: center;
    transition: transform 0.3s ease; 
    color: white; 
    height: 250px;
    border-color: #ffffff;
    border-width: 1px;
}

.card:hover {
    transform: translateY(-5px); 
}

.card h3 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-family: 'Maze';
    position: relative;
    top: 70px;
    letter-spacing: 3px;
}