.bestOf {
    transform: translateY(-40rem); 
    width: 100%;
}
.bestClo 
{
    width: 350px;
    text-align: center;
    height: 300px;
    position: relative;
}
.bestClo h1 
{
    color: white;
    font-family: 'maze';
    font-size: 50px;
    position: relative;
    top: 70px;
}
.bestClo img 
{
    position: relative;
    bottom: 100px;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    bottom: 5rem;
}

.banner .slider {
    position: absolute;
    width: 250px;
    height: 300px;
    left: calc(50% - 150px);
    top: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 23s linear infinite;
    will-change: transform;
}

@keyframes autoRun {

    from {
        transform: perspective(1000px) rotateY(0deg) rotateX(-1deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg) rotateX(-1deg) ;
    }
}

.banner .slider .item {
    position: absolute;
    width: 200px;
    height: auto;
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) 
               translateZ(490px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
  border-radius: 40px;
  transform: skew(-2deg);
}
.banner .slider .item img:hover {
    transform: scale(1.2);

}
.circleRack {
    position: relative;
    bottom: 1500px;
    width: 2000px;
    transform-origin: center; 
    animation: circleRack 23s linear infinite;
}
  
  @keyframes circleRack {
    from {
      transform: rotateX(260deg) ; 
    }
    to {
      transform: rotateX(260deg); 
    }
  }
  
  