    .container
    {
        background-color: rgb(0, 0, 0);
        width: 98.9vw;
        max-width: 96rem;
        transition: width 0.3s ease;
    }
    .container-expanded {
        width: 100rem;
    }
    .mazeLoadingLogo
    {
        width: 180px;
        height: auto;
        position: relative;
        bottom: 150px;
        right: 115px;
    }
    .loadingScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        text-align: center;
        font-size: 70px;
        font-family: 'maze';
        color: rgb(224, 224, 224);
        z-index: 100;
        overflow: hidden; 
    }
      .loadingScreen.hidden {
        display: none;
      }
      .Loading
      {
        position: relative;
        left: 90px;
      }
      .base {
        height: 3450px;
        background-color: rgb(0, 0, 0);
        opacity: 0;
        overflow: hidden;
      }
      
      .base.loaded {
        opacity: 1;
        transition: all 0.2s;
      }

    .lightContainer {
        position: relative;
    }

    .whiteLight, .blackLight {
        width: 1200px;
        height: 900px;
        position: absolute;
        left: 50%;
        margin-top: -30px;
        transform: translateX(-50%);
        opacity: 0; 
        transition: opacity 0.2s ease-in-out;
    }

    .blackLight
    {
        margin-left: 2px;
    }
    .whiteLight.show {
        opacity: 1;
    }

    .blackLight.show {
        opacity: 1;
    }
     
    .FatStarGif1 
    {
        width: 150px;
        height: auto;
        position: relative;
        left: 540px;
        top: 135px;
    }
    .FatStarGif2
    {
        width: 110px;
        height: auto;
        position: relative;
        left: 1005px;
        top: 70px;
    }
    .FatStarGif3
    {
        width: 130px;
        height: auto;
        position: relative;
        left: 1300px;
        top: 140px;
    }
    .FatStarGif4
    {
        width: 110px;
        height: auto;
        position: relative;
        left: 30px;
        top: 230px;
    }
    .ThinStarGif1
    {
        width: 130px;
        height: auto;
        position: relative;
        left: 65px;
        bottom: 80px;
    }
    .ThinStarGif2
    {
        width: 135px;
        height: auto;
        position: relative;
        left: 100px;
        top: 280px;
    }
    .ThinStarGif3
    {
        width: 130px;
        height: auto;
        position: relative;
        left: 1320px;
        top: 120px;
    }
    .base p 
    {
        color: white;
        font-family: 'maze';
        position: relative;
        left: 320px;
        top: 90px;
        font-size: 55px;
        animation: appearence 2s;
        animation-delay: 1.5s;
    }
    @keyframes appearence {
        0%
        {
        opacity: 0;
        }
        100%
        {
        opacity: 1;
        }
        
    }
    .MoreStar1
    {
        width: 25px;
        height: auto;
        position: relative;
        top: 340px;
        left: 25px;
    }
    .MoreStar2
    {
        width: 30px;
        height: auto;
        position: relative;
        top: 350px;
        left: 200px;
    }
    .MoreStar3
    {
        width: 20px;
        height: auto;
        position: relative;
        top: 365px;
        left: 700px;
    }
    .NewColl 
    {
        margin-top: 200px;
        width: 350px;
        text-align: center;
        height: 300px;
        position: relative;
        top: 240px;
    }
    .NewColl h1 
    {
        color: white;
        font-family: 'maze';
        font-size: 50px;
    }
    .NewColl img 
    {
        position: relative;
        bottom: 175px;
    }
    .UpStar
    {
        margin-left: 120px;
        position: relative;
        bottom: 90px;
        width: 1150px;
    }
    .DownStar
    {
        margin-left: 80px;
        position: relative;
        bottom: 480px;
        width: 1150px;
    }
    .CircleDeco {
        height: auto;
        width: 600px;
        z-index: 0; 
        margin-left: 1210px;
        position: relative; 
        bottom: 550px;
    }
    .ToLower
    {
        margin-top: -430px;
    }
    .ProdContainer {
        display: flex;
        justify-content: center;
        position: relative; 
        bottom: 485px;
        z-index: 10;
        flex-wrap: wrap;
        gap: 30px 0;
    }
    .FooterDiv
    {
        position: relative;
        bottom: 650px;
    }
    footer  li
    {
        position: relative;
        font-size: 29px;
        color: white;
        text-align: center;
        font-family: 'maze'; 
    }
    footer ul li .Account,
    footer ul li .Term,
    footer ul li .Contact,
    footer ul li .philosophy
    {
        margin-top: 7px;
        cursor: pointer;
    }
    footer ul li .Term:hover,
    footer ul li .Contact:hover,
    footer ul li .philosophy:hover,
    footer ul li .Account:hover
    {
    color: #c9c9c6; 
    padding-left: 5px;
    padding-right: 5px; 
    letter-spacing: 1px;
    text-shadow: 0 4px 8px rgba(188, 187, 187, 0.3); 
    transition: padding-right 0.3s ease , padding-left 0.3s ease, letter-spacing  0.3s ease ,color 0.3s ease, text-shadow 0.3s ease;
    }
    footer .CopyRight 
    {
        position: relative;
        top: 70px;
        left: 20px;
        color: white;
        text-align: center;
        font-size: 21px;
    } 
    .IconUi {
        width: 120px;
        height: auto;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 100;
        transition: transform 0.5s ease-in-out;
      }
      .PreUiIcon .eye 
      {
           position: relative;
           top: 65px;
           right: 5px;
      }

      .PreUiIcon .eyeHole
      {
        position: relative;
        bottom: 5px;
        width: 100px;
        height: auto;
       
      }
      .IconUi.rotate {
        transform: rotate(360deg);

      }
      
      .PreUiIcon img {
        cursor: pointer;

      }