.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    animation: dropdown 0.5s ease-out forwards;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    outline: 3px solid rgb(178, 175, 175);
    width: 580px;
    height: 320px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.171);
}

@keyframes dropdown {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
  .Modal button.x  {
    border: none;
    width: 20px;
    background-color: transparent;
    height: 33px;
    position: relative;
    left: 265px;
    bottom: 195px;
  }
  .Modal button.x i {
    color: white;
    cursor: pointer;
    font-size: 25px;
  }
  .Modal button.x i:hover {
    transform: scale(1.2);
    color: rgb(150, 150, 150);
    transition: all 0.3s;
  }
  .Modal .modContent 
    {
       font-size: 24px; 
       position: relative;
       bottom: 205px;
       left: 30px;
       width: 500px;
    }
  .star {
    opacity: 0;
  }
  
  .animate {
    animation: fading 2s infinite;
  }
  
  .star1 { animation-delay: 0s; width: 50px; height: 40px; position: relative; left: 180px; bottom: 5px;}
  .star2 { animation-delay: 0.5s; width: 50px; height: 40px; position: relative; left: 190px; top: 240px;}
  .star3 { animation-delay: 1s; width: 50px; height: 40px; position: relative; left: 530px; top: 30px;}
  .star4 { animation-delay: 1.5s; width: 50px; height: 40px; position: relative; left: 520px; top: 150px; }
  .star5 { animation-delay: 2s; width: 50px; height: 40px; position: relative; top: 60px;}
  
  @keyframes fading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  